/* .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5em;
  }
  
  .editor {
    margin-right: 10em;
  }
   */
  .ck-editor__editable_inline {
    min-height: 500px;
    min-width: 1000px;
    max-width: 1000px;
    /* min-width: 1000px; */
    /* max-width: 1000px; */
  }

textarea:focus, input:focus{
    outline: none;
}

/* body {
    width: 87rem;
    margin: auto;
} */
.wrapper {
    width: 40rem;
    height: 70vh;
    margin: 2rem;
    margin-top: 15vh;
    font-size: 1rem;
    position: absolute;
    left:200px;
    top:-10px;
    float: left;
    
}
.searchItem {
    padding: 1rem;
    display: block;
    font-size: 18px;
    /* border: solid black; */
}


.card {
    background-color: #fff;
    border-radius: 0.2rem;
    /* box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.3), 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3); */
    overflow: auto;
}

