<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h3>Your company's polls here:</h3>
    <br><br>

    <table>
        <% for(var i = 0; i < arr.length; i++){ %>

            <tr>
                <td><%= arr[i].pollName %></td>
                <td><a href="/emp/<%- arr[i].cid %>/<%- arr[i].pollId %>">View poll</a></td>
            </tr>

    
        <%  } %>

      </table>
</body>
</html>